/.env
/.vscode
/config/*
!/config/phpmyadmin/
!/config/phpmyadmin/themes/
!/config/phpmyadmin/themes/**
/data/*
/logs/*
/www/*
!.DS_Store
/buildtest

# KECUALIKAN file tertentu di /www/
!www/index.php
!www/phpinfo.php
!www/test_db.php
!www/test_db_pdo.php
